.header {
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: auto;
    height: 40px;
}